*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;     
    flex-direction: column;  
    align-items:center ;
    font-family: 'Poppins',sans-serif;
    background-color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    gap: 10px;
    background-color: #333;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.container h5{
    display: flex;
    align-items: center;
    gap: 5px;
}
.container:hover{
    background-color: #3334;
}
h5 .span{
 color: #fff;
    padding: 4px;
    cursor: pointer;
}
.contents{
display: none;

}
.active_Contents{
    display: flex;
    transition: 1s ease-in-out;
}
.main_container {
    width :50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
  color: aliceblue;
}
 @media(width <= 414px){
    .main_container{
        width: 90%;
    }
    .main_container h1{
        font-size: 1.6rem;
    }
 }

 @media(width <= 834px){
    .main_container{
        width: 90%;
    }
    .main_container h1{
        font-size: 1.6rem;
    }
 }